
<% if current_attendee.role.eql?("organiser") %>
	<section class="main-block">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs link-msg">
						<li class= "<%= get_tab(@_tab,1)%>" ><a href="#default-tab-1" data-toggle="tab">Events</a></li>
						<li class="<%= get_tab(@_tab,2)%>"><a href="#default-tab-2" data-toggle="tab">Attendees</a></li>
						<li class="<%= get_tab(@_tab,3)%>"><a href="#default-tab-3" data-toggle="tab">Requests</a></li>
						<li class="<%= get_tab(@_tab,4)%>"><a href="#default-tab-4" data-toggle="tab">Request to the Manager</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade <%= get_pane(@_tab,1)%>" id="default-tab-1">
							<%= render template: "/attendee_central/events/index"%>
						</div>	
						<div class="tab-pane fade <%= get_pane(@_tab,2)%>" id="default-tab-2">
							<%= render template: "/attendee_central/profiles/index"%>
						</div>
						<div class="tab-pane fade <%= get_pane(@_tab,3)%>" id="default-tab-3">
							<%= render template: "/attendee_central/invitations/index"%>
						</div>
						<div class="tab-pane fade <%= get_pane(@_tab,4)%>" id="default-tab-4">
							<%= render template: "/attendee_central/invitations/new"%>			
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
<%end%>