<div class="container">
	<h2>Account Settings</h2>
</div>

<div id="exTab2" class="container">
	<%= render 'heading' %>
	<div class="tab-content ">
		<div class="tab-pane active">
			<h3>Email</h3>
			<%= form_for @user, :url => update_password_handle_directory_settings_path, :method => :post do |f| %>

			<div class="field">
				<%= f.label :old_password %>
				<br>
				<%= f.password_field :old_password, :value => '' %>
			</div>

			<div class="field">
				<%= f.label :password %>
				<br>
				<%= f.password_field :password %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation %>
				<br>
				<%= f.password_field :password_confirmation %>
			</div>

			<div class="actions">
				<%= f.submit "Save" %>
			</div>
			<% end %>

		</div>
	</div>
</div>