<% count = 0%>

<div class="text-right attendee-cent-s">
	<%= link_to "Manual Confirmation", manual_attendee_central_invitations_path, :class => "btn link-msg" %>
	<%#= link_to "Request to manager", new_attendee_central_invitation_path, :class => "btn link-msg" %>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-striped ">
		<thead>
			<tr>
				<th>Sr. No.</th>
				<th>Event Name</th>
				<th>User Name</th>
				<th>Action</th>											
			</tr>
		</thead>
		<% @invitations.each do |invitation|%>
			<% count = count+1%>
			<tbody>
				<tr class="even">
					<td><%= count%></td>
					<td><%= invitation.event.name%></td>
					<td><%= User.find_by(id: invitation.sender_id).user_name%></td>
					<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
				</tr>
									
			</tbody>
		<%end%>

	</table>

	<div class="text-center">
		<ul class="pagination pagination-sm m-t-0 m-b-10">
			<%= will_paginate @invitations %>	
		</ul>
	</div>
</div>