<section class="main-block">
	<div class="container">
					
	<div class="row">
	    <!-- begin col-6 -->
	    <div class="col-md-12">
			
			<div class="tab-pane">
				<h3 class="tab-cont-head clearfix">
						<div class="col-sm-6 col-xs-6">Pending Request for Approval</div>
					<div class="col-sm-6 col-xs-6 text-right attendee-cent-s">
						<%= link_to "Request List",  attendee_central_home_index_path(tab: 3), :class => "btn link-msg" %>
						</div>
					</h3>
					<div class="box-body">						
					<div class="content-block">
						<div class="detail-form">
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Event Name</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= @invitation.event.name%></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Event Name</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= @invitation.event.location%></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Attendee's Name</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).user_name%></div>
									</div>
								</div>
							</div>
							<!-- <div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Title</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail">Lorem Ipsum Dollar sallore</div>
									</div>
								</div>
							</div> -->
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Company</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).company_name%></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Address</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).address%></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Email</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).email%></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Phone</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).phone%></div>
									</div>
								</div>
							</div>
							<!-- <div class="form-group">
								<div class="row">
									<label class="col-sm-4 col-md-3 control-label">Mobile Ph</label>
									<div class="col-sm-8 col-md-7">
										<div class="profile-detail"><%= User.find_by(id: @invitation.sender_id).user_name%></div>
									</div>
								</div>
							</div>	 -->											
						</div>	
						<div class="form-group">
								<div class="attendee-cent-s y-manual-confm">
									<%= link_to "<span class='m-r-10'><i class='fa fa-check'></i></span>Allow the attendee in the Event</a>".html_safe, accept_invitation_attendee_central_invitation_path(@invitation.id), method: :post, :class => "btn btn-invite m-r-5 m-b-5"%>
									<%= link_to "<span class='m-r-10'><i class='fa fa-times'></i></span>Decline the attendee in the Event</a>".html_safe, decline_invitation_attendee_central_invitation_path(@invitation.id), method: :post, :class => "btn btn-default m-r-5 m-b-5"%>
								</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

														