<%= form_for([:handle_directory, @group]) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  
  <div class="field">
    <%= f.label :group_image %><br>
    <%= @group.group_image.present? ? image_tag(@group.group_image.url, :width => 140, :height => 140, :class => 'img-responsive img-thumbnail') : image_tag("/profile.png", :width => 140, :height => 140, :class => 'img-responsive img-thumbnail')%>
    <%= f.file_field :group_image %>
  </div>
	
	<label for="member_attributes">Members</label>
	<ul>
	  <% current_handle_user.friends.each do |friend| %>
	    <li>
	      <%= check_box_tag "group[member_ids][]", friend.id, f.object.group_memberships.pluck(:user_id).include?(friend.id) %>
          <%= friend.user_name %>
	    </li>
	  <% end %>
	</ul>
	  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
