<div class="row">
	<!-- begin col-6 -->
	<div class="col-md-12">
		<div class="text-right attendee-cent-s">
			<%= link_to "Add Attendee", new_attendee_central_profile_path, :class => "btn link-msg" %>
		</div>
		<% Event.all.map do |event| %>
			<div id="accordion" class="panel-group attendee-accor-s">
				
				<div>
					<div class="event-detail">
						<div class="event-left y-e1">Event Name</div>
						<div class="event-right y-e2"><%= event.name %></div>
					</div>
					<div class="event-detail">
						<div class="event-left y-e1">Organiser</div>
						<div class="event-right y-e2"><%= User.find_by(id: event.user_id).user_name%></div>
					</div>
					<div class="event-detail">
						<div class="event-left y-e1">Event Date & Time</div>
						<div class="event-right y-e2"><%= event.start_time %></div>
					</div>
					<div class="event-detail">
						<div class="event-left y-e1">Address</div>
						<div class="event-right y-e2"><%= event.location %></div>
					</div>
				</div>
				
				<div class="panel panel-inverse overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="true">
								<i class="fa fa-plus-circle pull-right"></i> 
								List Of Attendee
							</a>
						</h3>
					</div>
					<% @event_attendee = UserEvent.where('event_id =? AND status =?', event.id, true)%>
					<div class="panel-collapse collapse" id="collapseOne" aria-expanded="true" style="height: 0px;">
						<div class="panel-body">
							<% @event_attendee.each do |attendee| %>
								<div class="attendee-ul-s">
									<ul>
										<li><%= attendee%></li>
									</ul>
								</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="panel panel-inverse overflow-hidden">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="true">
								<i class="fa fa-plus-circle pull-right"></i> 
								Pending Attendee
							</a>
						</h3>
					</div>
					<% @pending_attendee = UserEvent.where('event_id =? AND status =?', event.id, false)%>
					<div class="panel-collapse collapse" id="collapseTwo" aria-expanded="true">
						<div class="panel-body">
							<% @pending_attendee.each do |attendee| %>
								<div class="attendee-ul-s">
									<ul>
										<li><%= attendee%></li>
									</ul>
								</div>
							<%end%>
						</div>
					</div>
				</div>	
			</div>									
		<%end%>
	</div>
</div>	