<section class="main-block">
	<div class="container">
		<div class="box">
			<div class="box-head brown-bg">
				<h3>Feeds</h3>
			</div>
			<div class="box-body">
				<div class="content-a">
					<div class="row">
						<div class="col-md-6">
							<% @videos.each do |video| %>
							<div class="video-block clearfix m-b-20">
								<div class="video-a">
									<%= video_tag "video.content_url", :size => "320x240", :controls => true %>
								</div>
								<div class="feed-txt-block clearfix">
									<div class="date-time-block-a">
										<span class="month-a"><%= video.created_at.strftime("%B")%></span>
										<span class="date-a"><%= video.created_at.strftime("%d")%></span>
										<span class="time-a"><%= video.created_at.strftime("%I:%M %p")%></span>
									</div>
									<div class="heading-txt-block">
										<div class="col-md-6 p-0">
											<div class="feed-heading">
												<%= video.title%>
											</div>
										</div>
										<div class="col-md-6 p-0">
											<div class="feed-txt">
												<%= video.discription%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<%end%>
						</div>
						<div class="col-md-6">
							<% @posts.each do |post| %>
							<div class="feed-block2-a m-b-20">
								<div class="feed-inner-blocks">
									<div class="img-block-a">
										<%#= image_tag(post.image_url)%>
										<img src="assets/img/img1-a.png" style="width:100%;">
									</div>
									<div class="feed-txt-block clearfix">
										<div class="date-time-block-a">
											<span class="month-a"><%=post.created_at.strftime("%B")%></span>
											<span class="date-a"><%= post.created_at.strftime("%d")%></span>
											<span class="time-a"><%= post.created_at.strftime("%I:%M %p")%></span>
										</div>
										<div class="heading-txt-block">
											<div class="feed-heading">
												<%= post.title%>
											</div>
											<div class="feed-txt">
												<%= post.content%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<%end%>
						</div>
						<div class="col-md-6">
							<% @advertisements.each do |advertisement| %>
							<div class="feed-block2-a m-b-20">
								<div class="feed-inner-blocks">
									<div class="img-block-a">
										<%= image_tag(advertisement.image_url)%>
									</div>
									<div class="feed-txt-block clearfix">
										<div class="date-time-block-a">
											<span class="month-a"><%= advertisement.created_at.strftime("%B")%></span>
											<span class="date-a"><%= advertisement.created_at.strftime("%d")%></span>
											<span class="time-a"><%= advertisement.created_at.strftime("%I:%M %p")%></span>
										</div>
										<div class="heading-txt-block">
											<div class="feed-heading">
												<%= advertisement.title%>
											</div>
											<div class="feed-txt">
												<%= advertisement.discription%>
											</div>
										</div>
									</div>
								</div>
							</div>
							<%end%>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
