
		
		<!--box-->
		<section class="main-block">
			<div class="container">
				<div class="box">
					<div class="box-head brown-bg">
						<h3>My Account</h3>
					</div>
					<div class="box-body">
						<div class="account-detail">
							<div class="detail-block">
								<div class="detail-left xs-m-b-20">
									<div class="profile clearfix">
										<div class="profile-img">
											<%= image_tag(current_handle_user.image.try(:url), :class => "img-circle")%>
										</div>
										<div class="m-0 profile-info white-a">
											<h3 class="f-w-700"><%= current_handle_user.first_name.capitalize %> <%= current_handle_user.last_name.capitalize %></h3>
											<h4 class="f-w-700"><%= current_handle_user.address %></h4>
											<ul class="profile-list list-inline">
												<li><a href="/handle_directory/profiles/<%= current_handle_user.id %>/edit" class="white-a"><span class="m-r-10"><i class="fa fa-pencil"></i></span>Edit</a></li>
												<li><a href="" class="green-a"><span class="m-r-10"><i class="fa fa-share"></i></span>Forward Profile</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- <div class="detail-right">
									<ul class="social-icons list-inline">
										<li><a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0%26tab%3DwX#identifier"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://www.linkedin.com/uas/login"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div> -->
							</div>
						</div>
						<div class="content-block">
							<div class="row">
								<div class="col-sm-4 col-md-3 xs-m-b-20">
									<h4 class="m-0 f-w-700">About</h4>
									<div class="separator"></div>
									<% current_handle_user.social_logins.each do |social|%>
										<ul class="m-0 p-0 mail-icons">
											<% if social.provider == "facebook"%>
												<li><a href=""><span class="m-r-10"><i class="fa fa-facebook"></i></span><%= social.user_name%></a></li>
											<%elsif social.provider == "linkedin"%>
												<li><a href=""><span class="m-r-10"><i class="fa fa-linkedin"></i></span><%= social.user_name%></a></li>
											<%elsif social.provider == "twitter"%>
												<li><a href=""><span class="m-r-10"><i class="fa fa-linkedin"></i></span><%= social.user_name%></a></li>
											<%end%>
										</ul>
									<%end%>
									<div class="separator"></div>
									<p class="text-muted">Hi I'm <%= current_handle_user.first_name.capitalize%>,has been the industry's standard dummy text ever since the 1500s, when an from 45 BC.</p>
								</div>
								<div class="col-sm-5 col-md-6 xs-m-b-20">
									<%= render partial: "calender"%>	
								</div>
								<div class="col-sm-3 col-md-3">
									<%if current_handle_user.social_code.present? %>
										<div class="qr-code">
											<%= image_tag(current_handle_user.social_code.try(:image), size: "250*250") %> 
										</div>
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		