<section class="main-block">
			<div class="container">
			<div class="row">
			    <!-- begin col-6 -->
			    <div class="col-md-12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#default-tab-1" data-toggle="tab">Events</a></li>
						<li class=""><a href="#default-tab-2" data-toggle="tab">Attendees</a></li>
						<li class=""><a href="#default-tab-3" data-toggle="tab">Requests</a></li>
						<li class=""><a href="#default-tab-4" data-toggle="tab">Request to the Manager</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade active in" id="default-tab-1">
							<div class="text-right attendee-cent-s">
								<%= link_to "Event List", attendee_central_home_index_path, :class => "btn link-msg" %>
							</div>
							<div class="tab-pane">
									<h3 class="tab-cont-head">Create Event</h3>
									<%= form_for Event.new, url:  attendee_central_events_path do |f|%>
										<div class="detail-form m-t-40 m-b-40">
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Category</label>
													<div class="col-sm-8 col-md-7">
													  <select class="form-control"<%= f.select :category,options_for_select([ "Business", "Entertainment", "Sport", "Health", "Educational" ])%>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Name</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :name, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Location</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :location, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Start Date and Time</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.datetime_field :start_time, class: "form-control", required: true, :id=>'datetimepicker1'%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event End Date and Time</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.datetime_field :end_time, class: "form-control", required: true, :id=>'datetimepicker2' %>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Type</label>
													<div class="col-sm-8 col-md-7">
													  <select class="form-control"<%= f.select :event_type,options_for_select([ "Open", "Close" ])%>
														</select>
													</div>
												</div>
											</div>
											<!-- <div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Type</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :event_type, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div> -->
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">No. of Avalaibility</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :no_of_availability, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Organization Name</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :user_id, class: "form-control", required: true, placeholder: "Organiser Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="text-center attendee-cent-s">
													<button class="btn btn-primary m-r-5 m-b-5" type="submit">Submit</button>

												</div>
											</div>
										</div>
									<%end%>
								</div>
						</div>
						<div class="tab-pane fade" id="default-tab-2">
							<div class="row">
								<!-- begin col-6 -->
								<div class="col-md-12">
								<div class="text-right attendee-cent-s">
									<button class="btn btn-primary m-r-5 m-b-5" type="button">Add Attendee</button>
								</div>
									<div id="accordion" class="panel-group attendee-accor-s">
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #1
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseOne" aria-expanded="false" style="height: 0px;">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #2
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #3
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>								
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>	
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>	
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>	
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>	
									<div class="panel panel-inverse overflow-hidden">
										<div class="panel-heading">
											<h3 class="panel-title">
												<a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled collapsed" aria-expanded="false">
													<i class="fa fa-plus-circle pull-right"></i> 
													Collapsible Group Item #4
												</a>
											</h3>
										</div>
										<div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
											<div class="panel-body">
												<div class="attendee-ul-s">
													<ul>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
														<li>Attendee Name</li>
													</ul>
												</div>
											</div>
										</div>
									</div>										
								</div>
								<div class="text-center">
									<ul class="pagination pagination-sm m-t-0 m-b-10">
										<li class="disabled"><a href="javascript:;">«</a></li>
										<li class="active"><a href="javascript:;">1</a></li>
										<li><a href="javascript:;">2</a></li>
										<li><a href="javascript:;">3</a></li>
										<li><a href="javascript:;">4</a></li>
										<li><a href="javascript:;">5</a></li>
										<li><a href="javascript:;">»</a></li>
									</ul>
								</div>
							</div>
							</div>
						</div>
						<div class="tab-pane fade" id="default-tab-3">
							<div class="text-right attendee-cent-s">
								<button class="btn btn-primary m-r-5 m-b-5" type="button">Manual Confirmation</button>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-striped ">
									<thead>
										<tr>
											<th>#</th>
											<th>Event Name</th>
											<th>Action</th>											
										</tr>
									</thead>
									<tbody>
										<tr class="even">
											<td>1</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="odd">
											<td>2</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="even">
											<td>3</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="odd">
											<td>4</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="even">
											<td>5</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>	
										<tr class="odd">
											<td>6</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="even">
											<td>7</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="odd">
											<td>8</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="even">
											<td>9</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>
										<tr class="odd">
											<td>10</td>
											<td>Loram Ipsum dolor is sit</td>
											<td><a href="#" class="btn btn-link viewbtn-link m-b-5">View</a></td>
										</tr>										
									</tbody>
								</table>
								<div class="text-center">
									<ul class="pagination pagination-sm m-t-0 m-b-10">
										<li class="disabled"><a href="javascript:;">«</a></li>
										<li class="active"><a href="javascript:;">1</a></li>
										<li><a href="javascript:;">2</a></li>
										<li><a href="javascript:;">3</a></li>
										<li><a href="javascript:;">4</a></li>
										<li><a href="javascript:;">5</a></li>
										<li><a href="javascript:;">»</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="default-tab-4">
							<form class="form-horizontal attendeereqtab-s">
								<div class="form-group">
									<label class="col-md-4 control-label">Default Input</label>
									<div class="col-md-5">
										<input class="form-control" type="text" placeholder="Default input">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label">Company</label>
									<div class="col-md-5">
										<input class="form-control" type="text" placeholder="Default input">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label">Email</label>
									<div class="col-md-5">
										<input class="form-control" type="text" placeholder="Default input">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-4 control-label">Conference Name</label>
									<div class="col-md-5">
										<input class="form-control" type="text" placeholder="Default input">
									</div>
								</div>	
								<div class="form-group">
									<div class="text-center attendee-cent-s">
										<button class="btn btn-primary m-r-5 m-b-5" type="button">Send Attendee Request To Manager</button>
									</div>
								</div>
							</form>
								
					</div>

				</div>
			</div>
		</section>

		 <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
 					
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                	               	
                });
            });
        </script>