<section class="main-block">
			<div class="container">
			<div class="row">
			    <!-- begin col-6 -->
			    <div class="col-md-12">
			    	<%#= render partial: "/attendee_central/home/tab"%>
					<!-- <ul class="nav nav-tabs">
						<li class="active"><a href="#default-tab-1" data-toggle="tab">Events</a></li>
						<li class=""><a href="#default-tab-2" data-toggle="tab">Attendees</a></li>
						<li class=""><a href="#default-tab-3" data-toggle="tab">Requests</a></li>
						<li class=""><a href="#default-tab-4" data-toggle="tab">Request to the Manager</a></li>
					</ul> -->
					<div class="tab-content">
						<div class="tab-pane fade active in" id="default-tab-1">
							
							<div class="tab-pane">
									<h3 class="tab-cont-head clearfix">
											<div class="col-sm-6 col-xs-6">Create Event</div>
										<div class="col-sm-6 col-xs-6 text-right attendee-cent-s">
											<%= link_to "Event List", attendee_central_home_index_path, :class => "btn link-msg" %>
											</div>
										</h3>
										<%= form_for Event.new, url:  attendee_central_events_path do |f|%>
										<div class="detail-form m-t-40 m-b-40">
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Category</label>
													<div class="col-sm-8 col-md-7">
													  <select class="form-control"<%= f.select :category,options_for_select([ "Business", "Entertainment", "Sport", "Health", "Educational" ])%>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Name</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :name, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Location</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :location, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Start Date and Time</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.datetime_field :start_time, class: "form-control", required: true, :id=>'datetimepicker1'%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event End Date and Time</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.datetime_field :end_time, class: "form-control", required: true, :id=>'datetimepicker2' %>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Type</label>
													<div class="col-sm-8 col-md-7">
													  <select class="form-control"<%= f.select :event_type,options_for_select([ "Open", "Close" ])%>
														</select>
													</div>
												</div>
											</div>
											<!-- <div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Event Type</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :event_type, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div> -->
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">No. of Avalaibility</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :no_of_availability, class: "form-control", required: true, placeholder: "Event Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<label class="col-sm-4 col-md-3 control-label">Organization Name</label>
													<div class="col-sm-8 col-md-7">
													  <%= f.text_field :user_id, class: "form-control", required: true, placeholder: "Organiser Name"%>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="text-center attendee-cent-s">
													<button class="btn btn-primary m-r-5 m-b-5" type="submit">Submit</button>

												</div>
											</div>
										</div>
									<%end%>
								</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		 <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
 					
                });
            });
            $(function () {
                $('#datetimepicker2').datetimepicker({
                	               	
                });
            });
        </script>