<section class="main-block">
	<div class="container">
		<div class="box">
			<div class="box-head">
				<h3>Account Settings</h3>
			</div>
			<div class="box-body">
				<div class="content-a">
					<%= render 'heading' %>
					<div class="tab-content">
						<div id="menu3" class="tab-pane fade  in active">
							<div class="credit-card-info-block">
								<div class="detail-form m-t-30">
									<%= form_for @user, :url => update_password_handle_directory_settings_path, :method => :post do |f| %>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-4 col-md-3 control-label">Old Password</label>
											<div class="col-sm-8 col-md-6">
												<%= f.password_field :old_password, :class => 'form-control', value: nil  %>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-4 col-md-3 control-label">New Password</label>
											<div class="col-sm-8 col-md-6">
												<%= f.password_field :password, :class => 'form-control' %>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label class="col-sm-4 col-md-3 control-label">Confirm New Password</label>
											<div class="col-sm-8 col-md-6">
												<%= f.password_field :password_confirmation, :class => 'form-control' %>
											</div>
										</div>
									</div>
									<div class="form-group clearfix">
										<div class="row">
											<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
												<%= f.button "Save", :class => 'btn btn-blue m-r-5 m-b-5' %>
											</div>
										</div>
									</div>
									<% end %>
								</div>
							</div>
						</div
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
